.profile__add-btn {
    margin: 0 0 0 auto;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    transition: opacity 0.3s ease-in-out;
    background: url('../../../images/add-button.svg') center no-repeat;
    background-size: 22px;
    cursor: pointer;
    outline: none;
}

.profile__add-btn:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__add-btn {
        width: 282px;
        margin: 32px auto 0;
        background-size: 16px;
    }
}

