.image-cards__like {
    width: 22px;
    height: 19px;
    margin: 5px 5px 0 auto;
    padding: 0;
    transition: opacity 0.3s ease-in-out;
    background: url('../../../images/photo-grid__like.svg') no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
}

.image-cards__like:hover {
    opacity: .6;
}