.profile__btn-edit {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background: url(../../../images/profile__edit.svg) no-repeat;
    background-size: 10px;
    background-position: center;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.profile__btn-edit:hover {
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .profile__btn-edit {
        width: 18px;
        height: 18px;
    }
}
